/** @format */

:root {
	--brand-color: #7b9e89;
	--brand-accent: #2d4c3e;

	--accent-color: #e28b62;
	--bg-color: #f9f7f2;
	--text-color: #333333;

	--font-main: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

main {
	width: min(1120px, 100%);
	margin: 0 auto;
}
